
body {
    background-color: #050210;
    height: 100vh;
}
.circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20% auto;
    background-color: #050210;
    border-radius: 100%;
}

.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,  #fb5dad, #55fb9f,  #b97aff);
    border-radius: inherit;
    z-index: -1;
    margin: -20px;
    animation: hue-animation 1s linear infinite;
}
@keyframes hue-animation {
   from {
    transform: rotate(0deg);
   }
   to {
    transform: rotate(360deg);
   }
}

.circle::after {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background: linear-gradient(to right, #fb5dad, #55fb9f, #b97aff);
    border-radius: inherit;
    box-sizing: border-box;
    z-index: -2;
    filter: blur(70px);
    animation: hue-animation 1s linear infinite;
}

.center {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:#09041d;
    border-radius: 100%;
    top: 145px;
    bottom: 145px;
    left: 145px;
    right: 145px;
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    100% {
        transform: scale(30);
    }
}